*{
    margin: 0;
    border: border-box;
    font-family: 'roboto-regular',arial;
}
.head1{
display: flex;
justify-content: center;
align-items: center;

}
.head1-img{
    background-image: url("hero.gif");
    height: 80px;
    width: 1188px;
    background-size: contain;
    background-repeat: no-repeat;
}
.navbar{
    height: 25px;
    background-color: #ececec;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navlist{
    margin-left: 50px;
    display: flex;
    list-style-type: none;
    justify-content: center;
}
.navlist li{
    font-size: 12px;
    text-transform: uppercase;
    margin-right: 20px;
    color: #2e2e54;
}
.navlist li:hover{
    color: #f85606;
    text-decoration: underline;
    transition: 0.2s;
}
.head3{
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.h3-content{
    width: 1188px;
    height: 48px;
    display: flex;
    align-items: center;
}
.h3-logo{
    height: 40px;
    width: 200px;
    background-image: url("daraaz.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.h3-input input{
    height: 19px;
    width: 650px;
    padding: 13px 19px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    background-color: #eff0f5;
}
.h3-input input:focus-within{
    outline: none;
}
.h3-input{
    display: flex;
    align-items: center;
}

.h3-input i{
    padding: 13px 0px;
    height: 19px;
    width: 45px;
    color: white;
    background-color: #f57224;
    font-size: 1.2rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
}
.cart-logo{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
.cart-logo i{
    font-size: 1.2rem;
}
.h3-gif{
    background-image: url("daraz_gif.gif");
    height: 48px;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 30px;
}
.hero{
    height: 344px;
    background-color: #eff0f5;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.hero-img{
    width: 988px;
    height: 344px;
    background-image: url("hero_img.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
.hero-menu{
    width: 200px;
    height: 344px;
    background-color: white;
    border-left: 0.5px solid rgb(205, 205, 205);
    border-bottom: 0.5px solid rgb(205, 205, 205) ;
    border-right: 0.5px solid rgb(205, 205, 205) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}
.hero-menu li{
    list-style-type: none;
    font-size: 0.8rem;
    color: #757575;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 27px;
    margin-left: 5px;
}
.hero-menu li:hover{
    background-color: #d5d0d0;
    color: #1a9cb7;
}
.hero-menu li:hover::after{
    content:">";
    font-size: 20px;
    font-weight: 700;
}
.cursor{
    cursor: pointer;
}
.shop-container{
    background-color: #f5f5f5;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.shop-menu-container{
    height: 40px;
    width: 1188px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.shop-menu{
    width: 228px;
    height: 100%;
    margin-right: 5px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    transition: box-shadow 0.25s;
}
.shop-menu img{
    height: 32px;
    width: 32px;
    margin-left: 5px;
}
.shop-menu span{
    margin-left: 10px;
    font-size: 18px;
}
.shop-menu:hover::after{
    content: ">";
    margin-left: auto;
    margin-right: 10px;
    font-weight: 400;
    font-size: 1.5rem;      
}
.shop-menu:hover{
    box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.2), 0px 2px 4px rgba(0, 0, 0, 0.1);
}
  
  .shop-menu:nth-child(2):hover span {
    color: #902ea1; /* Green */
    transition: 0.25s;
  }
  
  .shop-menu:nth-child(3):hover span {
    color: rgb(184, 242, 237); /* Blue */
    transition: 0.25s;

  }
  
  .shop-menu:nth-child(4):hover span {
    color: #ffb20d; /* Yellow */
    transition: 0.25s;

  }
  
  .shop-menu:nth-child(5):hover span {
    color: #ff38ff; /* Magenta */
    transition: 0.25s;

  }
  .categories{
    height: 335px;
    margin-top: 50px;
  }
  .cat-head{
    height: 38px;
  }
  .cat-head p{
    font-size: 22px;
  }
  .cat-box{
    height: 297px;
    width: 1188px;
    display: flex;
justify-content: space-between;
    flex-wrap: wrap;
  }
  .cat-box div{
    height: 147px;
    width: 146px;
    background-color: white;
    margin: 1px;
  }
  

